<!-- view/partials/head.ejs -->

<meta charset="utf-8">
<%# <link rel="stylesheet" href="/stylesheets/spinknormalize.css">%>
<%# <link rel="stylesheet" href="/stylesheets/spinkmaster.css">%>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type='text/css'>
<script type="text/javascript" src="/js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="/js/form_validation.js"></script>
<script type="text/javascript" src="/js/spink.js"></script>
<!--CHECK THE ERROR src='js/form_~  에러남, src='/js/form_~' 으로 변경해서 에러 해결, 이 에러는 찾는데 상당히 오래 걸림 -->
<script type="text/javascript" src="/js/highlight.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<style>
#myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
}

#myBar {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: #4CAF50;
}

</style>
<!-- [if lte IE 8]
  <script>
    document.createElement('footer');
    document.createElement('header');
  </script>
 <![end if]-->
<title>SPINK</title>
