<!-- view/partials/head.ejs -->

<meta charset="utf-8">
<%# <link rel="stylesheet" href="/stylesheets/spinknormalize.css">%>
<%# <link rel="stylesheet" href="/stylesheets/spinkmaster.css">%>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600" rel="stylesheet" type='text/css'>
<%# <script type="text/javascript" src="/js/jquery-1.12.3.min.js"></script>%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/js/form_validation.js"></script>

<!--CHECK THE ERROR src='js/form_~  에러남, src='/js/form_~' 으로 변경해서 에러 해결, 이 에러는 찾는데 상당히 오래 걸림 -->
<script type="text/javascript" src="/js/highlight.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<style>
#myProgress {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: #ddd;
}

#myBar {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: #4CAF50;
}


.in-line{
      width:350px;
      height:40px;
    }


.wrapper{
border: 0px solid #FFBB00;
max-width: 530px;
height :60px;
padding: 0px;
top: 0px;
left: 50%;
margin-left:0;
}

.contents{
border: 0px solid #487BE1;
width:130px;
float: left;
padding: 0;
}

.sidebar{
border: 0px solid #487BE1;
width:140px;
float: right;
padding-top: 13px;
margin-left: 0px;
padding-left: 15px;
}
.singleWrap{
border: 0px solid #FFBB00;
max-width: 530px;
height :40px;
padding: 0px;

top: 0px;
left: 50%;
margin-left:0;
}


.singleSide{
border: 0px solid #487BE1;
width:125px;
float: right;
padding-top: 0px;
margin-left: 0px;
padding-left: 40px;
}


.wrapper1{
border: 0px solid #FFBB00;
max-width: 530px;
height :00px;
padding: 0px;
top: 0px;
left: 50%;
margin-left:0;
}

.contents1{
border: 0px solid #487BE1;
width:130px;
float: left;
padding: 0;
}

.sidebar1{
border: 0px solid #487BE1;
width: 50px;
float: right;
padding-top: 4px;
margin-left: 0px;
padding-left: 0px;
}


/* CSS에서
#은 id
.은 class
아무것도 없으면 태그 명*/



</style>
<!-- [if lte IE 8]
  <script>
    document.createElement('footer');
    document.createElement('header');
  </script>
 <![end if]-->
<title>SPINK</title>
