<!DOCTYPE html>
<html>
  <head>
    <h3><% include ../partials/head %></h3>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class = "login">
<!-- main start -->

<!-- views/Login/Login.ejs -->
<div class="message"><%= loginMessage %></div>
<div class="buttons">
  <button onclick="location.href='/'" class="float_left">Home</button> <!--login.ejs 를 불러들이는 위치에 따라 location.href=""의 주소지가 달라짐. -->
  <button onclick="location.href='user/new'" class="float_right">Sign Up</button>
</div>
<h3>Login</h3>
<form class="checkValidation" action="/login" method="post">
  <div class="inputs">
    <div class="floats">
      <label>Email</label>
      <input class="cvRequired" type="text" name="email" cvRqErrMsg="Please enter your login email." cvRqErrTo="#cvRqErrEmail" value="">
      <div id="cvRqErrEmail" class="message"></div>
    </div>
    <div class="floats">
      <label>Password</label>
      <input class="cvRequired" type="password" name="password" cvRqErrMsg="Please enter your password" cvRqErrTo="#cvRqErrPassword" value="">
      <div id="cvRqErrPassword" class="message"></div>
    </div>
      <% loginError.forEach(function(e){ %>
        <div class="message"><%= e %></div>
      <% }) %>
  </div>
  <div class="buttons">
    <button type="submit">Submit</button>
  </div>
</form>

<!-- main end -->

<footer>
  <% include ../partials/footer %>
</footer>
</body>
</html>

<!-- login end-->
