
<!DOCTYPE html>
<html>
  <head>
 <!--<h3><% include ../partials/spinkhead %> <!--</h3>-->
  </head>
  <body>
    <header>
      <% include ../partials/spinkheader %>
    </header>
    <div class="spink_sum">
      <!-- main start -->

<!-- views/users/new.ejs -->
<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>NO</th>
      <th>Email</th>
      <th>NUM1</th>
      <th>NUM2</th>
      <th>NUM3</th>
      <th>...</th>
    </tr>
    <tr>
      <th>-</th>
      <th>-</th>
      <th>SUM1</th>
      <th>SUM2</th>
      <th>SUM3</th>
      <th>...</th>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>-</td>
    </tr>
    <tr>
      <td>2</td>
      <td>1</td>
      <td>3</td>
      <td>-</td>
    </tr>
    <tr>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>-</td>
    </tr>
  </table>
</div>
<div class="buttons">
  <button class="float_right" onclick="location.href='/spink'">Spink</button> <!-- 같은 경로에 있어서 /를 쓰던 안쓰던 같은결과가 나오는듯 -->
</div>

<!-- main end -->
</div>
<footer>
  <% include ../partials/spinkfooter %>
</footer>
</body>
</html>
