<!DOCTYPE html>
<html>
  <head>
    <h3><% include ../partials/head %></h3>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
      <% include partials/top %>
<!-- main start -->

<!-- views/posts/edit.ejs -->
<div class="edit">
  <div class="button">
    <button onclick="history.back()">Back</button>
  </div>
  <h3>Edit Post</h3>
  <form class="checkValidation" action="/posts/<%=post._id%>?_method=put" method="post">
    <div class="inputs">
      <div class="floats">
        <label>Title</label>
        <input class="cvRequired" type="text" name="post[title]" cvRqErrMsg="Tiltle is Required." cvRqErrTo="#cvErrTitle" value="<%=post.title%>">
        <div id="cvErrTitle" class="message"></div>
      </div>
      <div class="floats">
        <label>Author</label>
        <input disabled type="text" value="<%= user.nickname %>">
      </div>
      <div class="floats">
        <label>Body</label>
        <textarea class="cvRequired" name="post[body]" cvRqErrMsg="Body is Required." cvRqErrTo="#cvErrBody"><%=post.body %></textarea>
        <div id="cvErrBody" class="message"></div>
    </div>
    <div class="button">
      <button type="submit">Submit</button>
    </div>
  </form>
  <a href="javascript:history.back()"><button>Back</button></a>
</div>

<!-- main end   -->

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
